{
    "data_dir": "/var/consul",
    "datacenter": "{{ env_name }}",
    "disable_update_check": true,
    "node_name": "{{ ansible_hostname }}",
    "retry_join": [
      "{{ hostvars[groups['consul-master'][0]]['ansible_eth0']['ipv4']['address'] }}",
      "{{ hostvars[groups['consul-master'][1]]['ansible_eth0']['ipv4']['address'] }}",
      "{{ hostvars[groups['consul-master'][2]]['ansible_eth0']['ipv4']['address'] }}"
    ]
}

