{
    "data_dir": "/var/consul",
    "datacenter": "{{ env_name }}",
    "disable_update_check": true,
    "node_name": "{{ ansible_hostname }}",
    "retry_join": [
      "{{ hostvars[groups['cdh-master'][0]]['ansible_ssh_host'] }}",
      "{{ hostvars[groups['cdh-master'][1]]['ansible_ssh_host'] }}",
      "{{ hostvars[groups['cdh-master'][2]]['ansible_ssh_host'] }}"
    ],
    "advertise_addr": "{{ ansible_ssh_host }}"
}

