[kdcdefaults]
    kdc_ports = 750, 88
    kdc_tcp_ports = 750, 88
[libdefaults]
    jwt_public_key = /var/krb5kdc/cf_key.pub
    jwt_ignore_cert_missing = true
[realms]
    CLOUDERA = {
        max_life = {{ kerberos_ticket_lifetime }}
        max_renewable_life = {{ kerberos_ticket_renewtime }}
        acl_file = /var/krb5kdc/kadm5.acl
        dict_file = /usr/share/dict/words
        master_key_type = des3-hmac-sha1
        supported_enctypes = aes256-cts:normal arcfour-hmac:normal aes128-cts:normal des3-hmac-sha1:normal des-hmac-sha1:normal des-cbc-md5:normal des-cbc-crc:normal
        default_principal_flags = +renewable, +forwardable
        pkinit_identity = FILE:/var/krb5kdc/kdc.pem,/var/krb5kdc/kdckey.pem
        pkinit_anchors = FILE:/var/krb5kdc/cacert.pem
        }
[logging]
    kdc = FILE:/var/log/kdc.log
    admin_server = FILE:/var/log/kadmin.log
