server {
        client_max_body_size 2G;
        listen 80;
        server_name api.{{ cf_domain }};

        set $myhost api.{{ cf_domain }};

        location / {
            proxy_set_header X-Forwarded-For $remote_addr;
            proxy_set_header Host api.{{ cf_domain }};
            proxy_pass http://api;
        }

        location ~ "/v2/organizations$" {
            if ($request_method = POST) {
              set $myhost auth-proxy.{{ cf_domain }};
            }

            proxy_set_header Host $myhost;
            proxy_set_header X-Forwarded-For $remote_addr;
            proxy_pass http://api;
        }

        location ~ "/v2/organizations/[^/]+$" {
            if ($request_method = DELETE) {
              set $myhost auth-proxy.{{ cf_domain }};
            }

            proxy_set_header Host $myhost;
            proxy_set_header X-Forwarded-For $remote_addr;
            proxy_pass http://api;
        }

        location ~ /v2/organizations/.+?/users {
            if ($request_method = PUT) {
              set $myhost auth-proxy.{{ cf_domain }};
            }
            if ($request_method = DELETE) {
              set $myhost auth-proxy.{{ cf_domain }};
            }

            proxy_set_header Host $myhost;
            proxy_set_header X-Forwarded-For $remote_addr;
            proxy_pass http://api;
        }

        location ~ /v2/users/.+?/organizations {
            if ($request_method = PUT) {
              set $myhost auth-proxy.{{ cf_domain }};
            }
            if ($request_method = DELETE) {
              set $myhost auth-proxy.{{ cf_domain }};
            }

            proxy_set_header Host $myhost;
            proxy_set_header X-Forwarded-For $remote_addr;
            proxy_pass http://api;
        }
}

server {
        client_max_body_size 2G;
        listen 443;
        server_name api.{{ cf_domain }};

        set $myhost api.{{ cf_domain }};

        ssl on;

        location / {
            proxy_set_header X-Forwarded-For $remote_addr;
            proxy_set_header Host api.{{ cf_domain }};
            proxy_pass http://api;
        }

        location ~ "/v2/organizations$" {
            if ($request_method = POST) {
              set $myhost auth-proxy.{{ cf_domain }};
            }

            proxy_set_header Host $myhost;
            proxy_set_header X-Forwarded-For $remote_addr;
            proxy_pass http://api;
        }

        location ~ "/v2/organizations/[^/]+$" {
            if ($request_method = DELETE) {
              set $myhost auth-proxy.{{ cf_domain }};
            }

            proxy_set_header Host $myhost;
            proxy_set_header X-Forwarded-For $remote_addr;
            proxy_pass http://api;
        }

        location ~ /v2/organizations/.+?/users {
            if ($request_method = PUT) {
              set $myhost auth-proxy.{{ cf_domain }};
            }
            if ($request_method = DELETE) {
              set $myhost auth-proxy.{{ cf_domain }};
            }

            proxy_set_header Host $myhost;
            proxy_set_header X-Forwarded-For $remote_addr;
            proxy_pass http://api;
        }

        location ~ /v2/users/.+?/organizations {
            if ($request_method = PUT) {
              set $myhost auth-proxy.{{ cf_domain }};
            }
            if ($request_method = DELETE) {
              set $myhost auth-proxy.{{ cf_domain }};
            }

            proxy_set_header Host $myhost;
            proxy_set_header X-Forwarded-For $remote_addr;
            proxy_pass http://api;
        }
}
