<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <property>
    <name>sqoop.connection.factories</name>
    <value></value>
  </property>
  <property>
    <name>sqoop.tool.plugins</name>
    <value></value>
  </property>
  <property>
    <name>sqoop.metastore.server.port</name>
    <value>16000</value>
    <description>Port that this metastore should listen on.
    </description>
  </property>
  <property>
    <name>sqoop.metastore.client.enable.autoconnect</name>
    <value>false</value>
    <description>If true, Sqoop will connect to a local metastore
      for job management when no other metastore arguments are
      provided.
    </description>
  </property>
  <property>
    <name>sqoop.metastore.client.autoconnect.url</name>
    <value>jdbc:hsqldb:hsql://{{ hostvars[groups['cdh-master'][1]]['ansible_eth0']['ipv4']['address'] }}:16000/sqoop</value>
    <description>The connect string to use when connecting to a
      job-management metastore. If unspecified, uses ~/.sqoop/.
      You can specify a different path here.
    </description>
  </property>
  <property>
   <name>sqoop.metastore.client.autoconnect.username</name>
   <value>sqoopmetastoreuser</value>
   <description>The username to bind to the metastore.
   </description>
  </property>
  <property>
   <name>sqoop.metastore.client.autoconnect.password</name>
   <value>sqoopmetastorepassword</value>
   <description>The password to bind to the metastore.
   </description>
  </property>
  <property>
    <name>sqoop.metastore.client.record.password</name>
    <value>true</value>
    <description>If true, allow saved passwords in the metastore.
    </description>
  </property>
  <property>
    <name>sqoop.metastore.server.location</name>
    <value>/var/lib/sqoop/shared-metastore.db</value>
    <description>Path to the shared metastore database files.
      If this is not set, it will be placed in ~/.sqoop/.
    </description>
  </property>
</configuration>
