DELETE FROM "datasets_dataconnection";
INSERT INTO "datasets_dataconnection" VALUES('','2015-10-19 19:40:45.905855','arcengine','','arcadia','','2015-10-12 16:39:37.831924','','','{"PARAMS":{"HOST":"{{ hostvars[groups[arcadia.nodes.webnode][0]].ansible_hostname }}","PORT":"31050","USERNAME":"{{ '%s@%s' % (arcadia.kerberos.user,arcadia.kerberos.realm) if kerberos_enabled else '' }}","AUTH":"{{ 'kerberos' if kerberos_enabled else 'nosasl' }}","SOCK":"normal","KERBSERV":"{{ '%s' % arcadia.sysuser.name if kerberos_enabled else '' }}","QUEUE_DEPTH":null}}',1);
INSERT INTO "datasets_dataconnection" VALUES('','2015-10-19 19:37:03.564698','hive','','hive','','2015-10-19 19:37:03.564613','','','{"PARAMS":{"HOST":"{{ hostvars[groups[arcadia.nodes.masternode][0]].ansible_hostname }}","PORT":"10000","USERNAME":"{{ '%s@%s' % (arcadia.kerberos.user,arcadia.kerberos.realm) if kerberos_enabled else 'CLOUDERA' }}","AUTH":"{{ 'kerberos' if kerberos_enabled else 'plain' }}","SOCK":"normal","KERBSERV":"{{ 'hive' if kerberos_enabled else '' }}","QUEUE_DEPTH":null}}',2);
