# Copyright (c) 2015 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

from settings import *

DATABASES['default']['NAME'] = "{{ arcadia_user.home }}/webserver_data/arcviz.sqlite3"
CACHES = {
  'default': {
  # To disable caching
  #'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
  'BACKEND': 'django.core.cache.backends.filebased.FileBasedCache',
  'LOCATION': '{{ arcadia_user.home }}/django_cache',
  'TIMEOUT': 31536000,
  'OPTIONS': {
  'MAX_ENTRIES': 10000
  }
}
}
DISABLE_V1_BARS = True
FORCE_SCRIPT_NAME = "/arc"
USE_X_FORWARDED_HOST = True
STATIC_ROOT = "{{ arcadia_user.home }}/static_files/"
