{
    "recursors": [
    {%- for server in ansible_local.resolv.dns_servers -%}
    "{{ server}}"
      {%- if not loop.last -%}
      ,
      {%- endif -%}
    {%- endfor -%}
    ],
    "ports": {
      "dns": 53                                                                                
    },
    "addresses": {
      "dns": "0.0.0.0"
    }
}    
