upstream consul {
  server localhost:8500;
}

server {
  listen 8080 default_server;
  access_log  /var/log/nginx/host.access.log  main;
  satisfy any;
  allow 10.10.5.11/32;
  allow 192.168.5.201/32;
  allow {{ broker_0_ip }}/32;
  deny all;
  auth_basic           "closed site";
  auth_basic_user_file conf.d/htpasswd;
  location / {
    proxy_pass http://consul;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
  }
}

