{                                                                                                
    "server": true,
    "leave_on_terminate": true,
    "bootstrap_expect": 3,
    "advertise_addr": "{{ ansible_ssh_host }}"
}        
