search node.{{ env_name }}.consul
nameserver {{ hostvars[groups['consul-master'][0]]['ansible_ssh_host'] }}
nameserver {{ hostvars[groups['consul-master'][1]]['ansible_ssh_host'] }}
nameserver {{ hostvars[groups['consul-master'][2]]['ansible_ssh_host'] }}
