[logging]
default = FILE:/var/log/krb5libs.log
kdc = FILE:/var/log/krb5kdc.log
admin_server = FILE:/var/log/kadmind.log

[libdefaults]
default_realm = CLOUDERA
dns_lookup_realm = false
dns_lookup_kdc = false
ticket_lifetime = {{ kerberos_ticket_lifetime }}
renew_lifetime = {{ kerberos_ticket_renewtime }}
forwardable = true

[realms]
CLOUDERA = {
  kdc = {{ krb_server }}
  admin_server = {{ krb_server }}
}

[domain_realm]
.cloudera = CLOUDERA
cloudera = CLOUDERA
.internal = CLOUDERA
internal = CLOUDERA
.consul = CLOUDERA
consul = CLOUDERA
