[mysqld]
binlog_format=ROW
datadir=/var/lib/mysql
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
socket=/var/lib/mysql/mysql.sock
user=mysql

wsrep_provider=/usr/lib64/libgalera_smm.so
wsrep_cluster_address=gcomm://{% for host in groups['mysql-cluster_db'] %}{{ ansible_ssh_host }}{% if not loop.last %},{% endif %}{% endfor %}

wsrep_cluster_name={{ mysql_cluster_cluster_name }}
wsrep_node_address={{ ansible_ssh_host }}
wsrep_sst_auth="{{ mysql_cluster_sst_user }}:{{ mysql_cluster_sst_pass }}"
wsrep_sst_method=xtrabackup-v2

gtid_mode=ON
log_bin=binlog
log_slave_updates=1
enforce_gtid_consistency
expire_logs_days={{ mysql_cluster_expire_logs_days }}
server_id={{ groups['mysql-cluster_db'].index(inventory_hostname) }}
